<!DOCTYPE html>
<html>
<head>
  <title>Esop</title>
</head>
<body>
  <ul class="list-group", style="width: 200px;">
    <!-- sort -->
    <% @categories.each do |category|%>
      <li class="list-group-item">
        <a href="#">  <%= category.name %> </a>
      </li>
    <%end%>
  </ul>
  <% @categories.each do |category|%>
    <a>
      <%= image_tag('Doctors.jpg') %>
      <%= category.name %>
    </a>
  <%end%>
</body>
</html>